<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/output.css">
    <script src="https://unpkg.com/htmx.org@1.9.2"
        integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
        crossorigin="anonymous"></script>
    <title>GoHtmx</title>
</head>

<body>
    <h1 class="text-5xl font-black text-blue-800">Go + Htmx + tailwindcss</h1>
    <div class="flex">

        <div class="flex max-w-md flex-col gap-2" id="post-list">
            {{ range .Posts}}
            <div class="bg-blue-50 rounded-xl px-4 py-2">
                <div class="flex flex-row place-items-center justify-between">
                    <p class="text-sm font-light">@{{.Username}}</p>
                    <p class="text-xs">{{ .Timestamp}}</p>
                </div>
                <div class="my-2 rounded-md">
                    <p class="text-base"">{{.Content}}</p>
                </div>
            </div>
            {{ end }}
        </div>
        <div class="">
            <form class=" flex flex-col gap-2" hx-post="/create-post/" hx-target="#post-list" hx-swap="afterbegin">
                        <label class="text-xs" for="content" hidden>content</label>
                        <input name="content" type="text">
                        <input name="username" type="text" value="me!23">
                        <input type="submit">
                        </form>
                </div>
            </div>
</body>

</html>